.det-head {
    font-size: 2rem;
}

.main-wrapper {
    padding: 0rem 2rem;
}

.form-check-input-cust {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -0.60rem;
}

.input-group-custom {
    width: 80%;
    margin-top:2rem;
}

.err-msg{
color:red;
}

.employee-add-container{
    display:none;
}

.icon-wrap{
    display: flex;
    align-items: center;
    position: relative;
}

.icon-wrap .custom-icon{
    position: absolute;
    right: 7px;
    font-size: 20px;
    cursor:pointer;
}

.currency-cust-wrap{
    position:relative;
}

.rupee-symbol{
    position: absolute;
    left: 6px;
    top: 5px;
}

.custom-icon{
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}
table {
    width: 100%;
  }

  .sold-out-modal{
    max-width:60%;
    margin:0 auto;
  }
  .sold-out-tbl tr th{
    background: #040404;
    color:#fff;
    font-size:12px;

  }
  .sold-out-tbl tr td{   
    font-size:12px;

  }
  .selected-row td{
    background: #3F2C5F;
    color:#fff;
  }
  .row-count-wrap
    {
        justify-content: flex-end;
        width: 100%;
        box-shadow: 0px -2px 4px 0px #0000000D;
        padding: 5px;
    }
  .footer-row{   
    color:#4D4D4D;
    font-weight:700;    
  }

  .select-button .btn{
    background: #3F2C5F;
    color:#fff;
    border-radius: 20px;
    padding: 7px 18px;
  }
  /***********Switch Button***********************/
.switch {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 13px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }
  .switch::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0px;
    width: 22px;
    height: 22px;
    background: #AE9DB4;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
  }
  input:checked + .switch {
    background:#CEC6D5;
    ;
  }
  input:checked + .switch::before {
    left: 14px;
    background: #594170;
  }
  input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
  }
  .custom-switch-lbl{
  margin-left:10px;
  font-size:0.75rem;
  }
  
  /******************************witch button***************************************************/

  .search-control{
    position: relative;
  }

  .search-control input[type="text"]{
    padding-left:45px;
  }
  .search-control i
  {
    position: absolute;
    left: 24px;
    top: 5px;
    font-size: 16px;
}

.symbol-at{
    font-size:12px;
    margin:0 7px;
    }