<div class="main-wrapper">
    <form>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <h2 class="det-head">General Details</h2>
                    <!-- Generate Global Id -->
                    <div class="col-md-4 mb-3">
                        <label for="POnumber" class="form-label">PO number<span class="err-msg">*</span></label>
                        <input type="text" class="form-control" id="POnumber" placeholder="PO number*">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">PO date<span class="err-msg">*</span></label>
                        <input type="text" class="form-control" id="POnumber" placeholder="PO number*">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Unit<span class="err-msg">*</span></label>
                        <input type="text" class="form-control" id="POnumber" placeholder="PO number*">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Ship to<span class="err-msg">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Project code<span class="err-msg">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Buyer</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Category<span class="err-msg">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Type<span class="err-msg">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Nature of PO</label>
                        <div class="d-flex">
                            <div class="form-check form-check-inline d-flex align-items-center">
                                <input class="form-check-input form-check-input-cust" type="radio" name="Open" id="Open"
                                    value="Open">
                                <label class="ms-1 form-label text-nowrap" for="inlineRadio1">Open</label>
                            </div>
                            <div class="form-check form-check-inline d-flex align-items-center">
                                <input class="form-check-input form-check-input-cust" type="radio" name="Closed"
                                    id="Closed" value="Closed">
                                <label class="ms-1 form-label text-nowrap" for="Closed">Closed</label>
                            </div>
                            <div class="form-check form-check-inline d-flex align-items-center">
                                <input class="form-check-input form-check-input-cust" type="radio" name="Multipleopen"
                                    id="Multipleopen" value="Multipleopen">
                                <label class="ms-1 form-label text-nowrap" for="Multipleopen">Multiple open</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 date-container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="DOB" class="form-label custom-label">Valid from</label>
                                        <input id="DOB" type="date" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="DOB" class="form-label custom-label">Valid to</label>
                                        <input id="DOB" type="date" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="DOB" class="form-label custom-label">Required date<span class="err-msg">*</span></label>
                                        <input id="Requireddate" type="date" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <div class="input-group input-group-custom">
                                    <input type="file" class="form-control" id="inputGroupFile04"
                                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="POnumber*" class="form-label">Sales order reference*</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Referencedocnumber" class="form-label">Reference doc number</label>
                        <input id="text" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </form>
</div>
