<div class="login-wrapper">
    <div class="login-container">
        <div class="login-wrapper-txt me-5">
            <div class="logo-wrapper mb-4">
                <div class="mp me-4"></div>
                <div class="ms"></div>
            </div>
            <div class="login-main-head mb-4">
                Efficiency starts here.
            </div>
            <div class="login-sub-head mb-4">
                Get ready to accelerate your business with us.
            </div>
        </div>
        <div class="login-frm-wrapper">
            <div class="login-head mb-2">
                Sign In
            </div>
            <div class="login-sub-txt mb-2">
                Welcome back! Please enter your details
            </div>
            <div>
                <label for="username" class="form-label">User Name<span>*</span></label>
                <input id="username" type="text" class="form-control" 
                    placeholder="Enter username" />
            </div>
            <div class="password-container">
                <label for="password" class="form-label">Password<span>*</span></label>
                <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Enter Password" />
                <div class="icon-pwd"><i (click)="togglePasswordVisibility()" [ngClass]="isPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash'"></i></div>
            </div>
            <div>
                <label for="gender" class="form-label">Select Unit<span>*</span></label>
                <select id="extendedDateReason" class="form-select">
                    <option value="" selected>Marelli Motherson Automotive...</option>
                    <option value="Marelli Motherson Automotiv">Marelli Motherson Automotive...</option>
                    <option value="Marelli Motherson Automotiv" selected>Marelli Motherson Automotive...</option>
                </select>
            </div>
            <div class="d-flex forget-pwd">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Rememberme">
                    <label class="form-check-label rememberme-lbl" for="Rememberme">
                        Remember me
                    </label>
                </div>
                <div class="fgtpwd-lbl">
                    Forgot password?
                </div>
            </div>
            <div>
                <label for="Captcha" class="form-label">Enter Captcha<span>*</span></label>
                <div class="captcha-wrapper">
                    <div class="capthc">
                        {{captchaValue}}
                    </div>
                    <input id="Captcha" type="text" class="form-control"
                        placeholder="Enter Captcha" />
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-login"(click)="submit()">Proceed</button>
            </div>
        </div>
    </div>
</div>