.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9b115;
    padding: 0.5rem 1rem 0.5rem 4rem;
    height: 70px;
  }
  
  .logo img {
    height: 50px;
    padding: 0.3rem;
    margin-left: 1.5rem;
    
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #6366f1;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 10px;
  }
  
  .user-avatar img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }



    .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
      color: #4b5563;
      border: 1px solid #f3f4f6;
      background: #ffffff;
      min-width: 2rem;
      height: 1rem !important;
      line-height: 1rem !important;
      font-size: 1.143rem;
      z-index: 1;
      border-radius: 50%;
    }