.employee-add-container {
    padding: 0px 20px;
  }
  
  .employee-add-container h1 {
    font-size: 1.6rem;
  }
  
  ::ng-deep .p-steps .p-steps-item {
    flex: 1;
  }
  
  ::ng-deep .p-steps .p-steps-item .p-menuitem-link {
    background: transparent;
    transition: box-shadow 0.2s;
    text-decoration: none;
    margin-top: -5px;
  }
  
  ::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
    text-decoration: none;
    text-decoration-color: transparent;
  
    border: 5px solid #594170;
    height: 1.2rem;
    min-width: 1.2rem;
    background: #fff;
  }
  
  ::ng-deep .p-steps .p-steps-item .p-steps-number {
    color: transparent;
    border: 1px solid #594170;
    height: 1.2rem;
    min-width: 1.2rem;
    background: #ae9db4;
  }
  
  ::ng-deep .p-steps .p-steps-item .p-steps-title {
    color: #594170;
    font-size: 0.75rem;
    text-decoration: none !important;
  }
  
  ::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-title.completed {
    color: #594170;
  }
  
  ::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-title.active {
    font-weight: bold;
    color: #594170;
  }
  
  ::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-title {
    font-weight: bold;
  }
  
  /* ::ng-deep .p-steps .p-steps-item:before {
    border-top: 1px solid #594170;
  } */
  
  /* ::ng-deep .p-steps .p-steps-item:before {
    content: " ";
    border-top: 1px solid #594170;
    text-decoration: none;
      width: 100%;
      top: 50%;
      left: 0;
      display: block;
      position: absolute;
      margin-top: -1rem;
  } */
  
  ::ng-deep .p-steps .p-steps-item:not(:first-child):not(:last-child):before {
    content: " ";
    border-top: 1px solid #594170;
    text-decoration: none;
    width: 100%;
    top: 50%;
    left: 0;
    display: block;
    position: absolute;
    margin-top: -1rem;
  }
  
  /* Apply to the first child */
  ::ng-deep .p-steps .p-steps-item:first-child:before {
    content: " ";
    border-top: 1px solid #594170;
    text-decoration: none;
    width: 50%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    margin-top: -1rem;
  }
  
  /* Apply to the last child */
  ::ng-deep .p-steps .p-steps-item:last-child:before {
    content: " ";
    border-top: 1px solid #594170;
    text-decoration: none;
    width: 50%;
    top: 50%;
    left: 0;
    display: block;
    position: absolute;
    margin-top: -1rem;
  }
  
  .form-back-btn {
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #594170;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .form-next-btn .p-button {
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #594170;
    cursor: pointer;
    /* border: 1px solid #594170; */
  
    outline: none;
  }
  
  .form-next-btn span {
    background-color: transparent !important;
  }
  
  .form-next-btn .p-button {
    background-color: transparent !important;
    border: 1px solid #47ca0b;
  }
  
  .form-next-btn .p-button {
    background-color: red !important;
  }
  
  .emp-frm-head {
    color: #1A1919;
    margin-top: 1.2rem;
  
  }
  
  .card-custom-frm {
    box-shadow: 0px 0px 8px 4px #E0E0E04D;
    border: 0;
  }
  
  .btn-save-wrapper {
    margin: 0 20px
  }