body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.content-area {
    flex: 1;
    /* padding: 20px; */
    padding:0px 20px;
    /* background-color: #f4f4f4; */
    background-color: #fff;
    overflow-y: auto;
}