<div class="login-wrapper">
    <div class="login-container">
        <div class="login-wrapper-txt me-5">
            <div class="logo-wrapper mb-4">
                <div class="mp me-4"></div>
                <div class="ms"></div>
            </div>
            <div class="login-main-head mb-4">
                Efficiency starts here.
            </div>
            <div class="login-sub-head mb-4">
                Get ready to accelerate your business with us.
            </div>
        </div>
        <div class="login-frm-wrapper">
            <div class="login-head mb-2">
                Verification Code
            </div>
            <div class="login-sub-txt text-center mb-2">
                <div>Please enter the code sent to </div>
                <div>Demomotherson.com</div>
            </div>
            <div class="otp-wrapper mb-4">
                <div class="me-2">
                    <input id="username" type="text" class="form-control" value="1"
                    placeholder="" />
                </div>
                <div class="me-2">
                    <input id="username" type="text" class="form-control" value="2"
                    placeholder="" />
                </div>
                <div class="me-2">
                    <input id="username" type="text" class="form-control" value="3"
                    placeholder="" />
                </div>
                <div class="me-2">
                    <input id="username" type="text" class="form-control" value="4"
                    placeholder="" />
                </div>
            </div>
            <div class="resend-code text-center mb-4">
                Resend Verification Code in <span>1:53</span>
            </div>
            <div>
                <button type="button" class="btn btn-login"(click)="submit()">Sign In</button>
            </div>
        </div>
    </div>
</div>